<app-header></app-header>
<app-banner-title [title]="'Découvrez les aimaux de ZOO Arcadia !'" [subtitle]="'“Où chaque pas éveille une nouvelle merveille.”'"></app-banner-title>
<div class="animals-container">
  <div *ngFor="let animal of animals" class="animal-card">
    <img *ngIf="animal.animalimagerelation && animal.animalimagerelation.length > 0 && animal.animalimagerelation[0].image"
         [src]="'data:image/jpeg;base64,' + animal.animalimagerelation[0].image.imagedata"
         alt="{{ animal.name }}"
         class="animal-image">
    <div class="animal-details">
      <h3>{{ animal.name }}</h3>
      <p>Race: {{ animal.race?.label }}</p>
      <p>Description de la race: {{ animal.race?.description }}</p>
      <p>État: {{ animal.status }}</p>
    </div>
  </div>
</div>
