<div class="animals-container">
  <div *ngFor="let animal of animals" class="animal-card">
    <img *ngIf="animal.animalimagerelation && animal.animalimagerelation.length > 0 && animal.animalimagerelation[0].image"
         [src]="'data:image/jpeg;base64,' + animal.animalimagerelation[0].image.imagedata"
         alt="{{ animal.name }}"
         class="animal-image">
    <div class="animal-details">
      <h3>{{ animal.name }}</h3>
      <p><strong><u>Race:</u></strong> {{ animal.race?.label }}</p>
      <p><strong><u>Habitat:</u></strong> {{ animal.habitat?.name }}</p>
      <button class="btn btn-primary details-button" (click)="viewDetails(animal.animalid)">Voir plus</button>
    </div>
  </div>
</div>